.roadmap {
  padding-top: 2%;
  padding-bottom: 0%;
}

.road-img-2 img {
  height: auto;
  width: 40%;
  margin-top: 1%;
}


.header-road-h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 113%;
  /* identical to box height, or 85px */

  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.header-road-span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 113%;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px white;
}

.side-road{
  width: 403px;
  height: 516px;
  background: rgba(203, 21, 200, 0.779);
  filter: blur(260px);
  position: absolute;
  right: 262px;
  /* margin-top: -158px; */
  margin-top: 224px;

}
.side-road2{
  z-index: -2;
  background: rgb(0 181 255);
  filter: blur(173px);
  width: 326px;
  height: 374px;
  position: absolute;
  left: 169px;
  margin-top: -28px;
}

.team-box-1{
  background: rgba(217, 217, 217, 0.01);
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
border-radius: 12px;
width: 400px;
padding: 5%;
margin-bottom: 4%;
}
.team-box-1 img {
  width: 40%;
}

.margin-auto{
  margin: auto !important;
}