.roadmap {
  padding-top: 2%;
  padding-bottom: 0%;
}

.road-img-2 img {
  height: auto;
  width: 40%;
  margin-top: 1%;
}
.road-img-2 {
  text-align: center;
}
.road-box {
  display: flex;
  gap: 3.5rem;
  justify-content: center;
}
.header-road-h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 113%;
  /* identical to box height, or 85px */

  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.header-road-span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 113%;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px white;
}
.road-sub-head p {
  font-family: "Zen Dots";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0%;
  /* or 28px */

  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px white;
}
.road-p p {
  font-family: "Zen Dots";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 104%;
}
.road-p {
  padding-left: 8%;
  margin-top: 29px;
  position: absolute;
}
.road-img-line img {
  height: 55%;
  margin-top: 100%;
}
