.roadmap {
  padding-top: 2%;
  padding-bottom: 0%;
}

.road-img-2 img {
  height: auto;
  width: 40%;
  margin-top: 1%;
}


.header-road-h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.header-road-span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 113%;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px white;
}

.side-road{
      width: 457px;
      height: 642px;
      background: rgba(203, 21, 200, 0.779);
      filter: blur(310px);
      position: absolute;
      right: 262px;
      margin-top: 224px;

}
.side-road2{
  z-index: -2;
  background: rgb(0 181 255);
  filter: blur(200px);
  width: 223px;
  height: 374px;
  position: absolute;
  left: 327px;
  margin-top: 233px;
}


.team-box-1 {
  width: 40%;
}

.margin-auto{
  margin: auto !important;
}






/*import fonts*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/*media queries*/



.wrapper {
  margin: 3.125em auto;
  padding: 1em 5em 1em;
  max-width: 1000px;
}



.timeline {
  line-height: 1.5em;
  font-size: 14px;
  transition: all 0.4s ease;
  position: relative;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 10px;
  height: 100%;
  background: #00000057;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  background: rgba(217, 217, 217, 0.01);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
}
.timeline--entry__title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  padding: 1em;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid #ff2d7338;
}
.timeline--entry__detail {
  line-height: 12px;
  padding: 1em;
  margin: 0;
}
.timeline--entry:before {
  content: "";
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  background-color: #00000057;
  border: 0.2em solid rgb(190, 189, 189);
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  text-shadow: 0 1px 0 #424242;
  left: -4.5em;
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 4.75em;
      grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
    }
    .timeline:before {
      left: 49.5%;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }
    .timeline--entry:nth-child(3) {
      grid-area: entry3;
    }
    .timeline--entry:nth-child(4) {
      grid-area: entry4;
    }
    .timeline--entry:nth-child(5) {
      grid-area: entry5;
    }
    .timeline--entry:nth-of-type(odd):before {
      left: -3.8em;
    }
    .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
      left: 100%;
      border-left: 10px solid #ec407982;
      border-right: 0;
    }
    .timeline--entry:nth-of-type(even):before {
      left: 103%;
    }
  }
}