.hero-main{
    width: 100%;
    height: 100%;
}

.hero-h1{
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 113%;

text-transform: uppercase;

color: #FFFFFF;

}
.hero-span{
    font-weight: 600;
}


.side-img{
    display: flex;
    flex-direction: column;
}
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
.hero-p{
    font-family: 'Zen Dots';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 113%;
padding-top: 4%;
padding-bottom: 5%;
}

.btn-hero-1{
    background-image: url(../../assets/btn-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Zen Dots';
    padding: 21px 55px 58px 90px;


}

.btn-hero-2{
    background-image: url(../../assets/btn-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Zen Dots';
    padding: 21px 51px 58px 117px;


}

.hero-main-btn{

    margin-top: 4%;

}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .overlay {
    /* position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    height: 102vh;
    background-color: rgba(0,0,0,.4); */
    /* background-color: #000000cc; */
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 97px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

.left-line{
    position: absolute;
    border: 0;
    bottom: 0;
    top: 98%;
    background: linear-gradient(89.99deg, #993A98 11.97%, #50bbe76e 98.92%);
    width: 99.87%;
    height: 45px;
    z-index: 1;
    overflow: hidden;
    transform: matrix(-1, -0.10, -0.08, 1, 0, 0);

}

.home-line{
    position: relative;
    z-index: 0;
    margin-top: -21%;
    width: 99%;
    transform: rotate(-4.54deg);
    filter: brightness(0.8);
}

@media (max-width:768px){
    .content {
        top: 14%;
        
    }
    video{
        background-image: url(https://ik.imagekit.io/cforcrypto/afun/1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1667580553119);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .hero-h1 {
        font-size: 30px;
        line-height: 102%;}

        .hero-p {
          
            font-size: 20px;
           
            padding-top: 4%;
            padding-bottom: 5%;
        }


        .btn-hero-2 {
       
            font-family: 'Zen Dots';
            font-size: 10px;
            padding: 2px 20px 20px 35px;}
            .btn-hero-1{
               
                    font-size: 10px;
                    padding: 2px 20px 20px 35px;
            }

            .overlay {
             
                top: 15%;
                left: 0;}

                .left-line{
                    height: 22px;
                }
                .home-line {
                    position: relative;
                    z-index: 0;
                    margin-top: -68%;
                    height: 51px;
                }

                .btn-hero-1{
                    background: linear-gradient(96.87deg, #50BBE7 0%, #993A98 99.87%);
                    border: 4px solid #FFFFFF;
                    box-shadow: 0px 35px 64px rgb(0 0 0 / 50%);
                    border-radius: 10px;
                    padding: 7px 17px 7px 17px;
                
                
                }
                
                .btn-hero-2{
                    background: rgba(0, 0, 0, 0.45);
                    border: 4px solid #FFFFFF;
                    box-shadow: 0px 35px 64px rgba(0, 0, 0, 0.5);
                    border-radius: 10px;
                    padding: 7px 26px 7px 26px; 
                
                
                }
}