.team{
    padding-top: 5%;
    padding-bottom: 5%;
}

.team-img-box img{
    height: auto;
    width: 74%;
}
.team-mg-box img{
    height: auto;
    width: 83%;
}

.team-text h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 111%;
}
.team-text p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 111%;
}

.team-lines{
    transform: rotate(-5.07deg);
    width: 99%;
    margin-top: -83px;
  
}

.team-line{
    width: 99.9%;
    height: 51px;
    background: linear-gradient(89.99deg, #993A98 11.97%, #50BBE7 98.92%);
    transform: matrix(-1, -0.07, -0.07, 1, 0, 0);
}