.team{
    padding-top: 2%;
    padding-bottom: 2%;
}

.team-img-box img{
    height: auto;
    width: 74%;
}
.team-mg-box img{
    height: auto;
    width: 74%;
}

.team-text h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 111%;
}
.team-text p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 111%;
}

.team-lines{
    transform: rotate(-5.07deg);
    width: 99%;
    margin-top: -83px;
  
}

.team-line{
    width: 99.9%;
    height: 51px;
    background: linear-gradient(89.99deg, #993A98 11.97%, #50BBE7 98.92%);
    transform: matrix(-1, -0.07, -0.07, 1, 0, 0);
}

@media (max-width:768px) {
    .team-text h2{
        font-size: 12px;
    }
    .team-text p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 111%;
    }

    .foot-link{
        text-align: center;
    }
    
}