.about{
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-img{
    height: 330px;
    width: 62%;
}

.header-h1{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 75px;
line-height: 113%;
/* identical to box height, or 85px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
padding-top: 2%;
padding-bottom: 5%;
}
.about-p{
    font-family: 'Poppins';
    font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 155%;
/* or 39px */


color: #FFFFFF;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
.head-span{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 113%;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px white;
    
}

.about-line{
    position: absolute;
    width: 99.3%;
    height: 400px;
    transform: rotate(3.37deg);
    overflow: hidden;
    z-index: -3;
    filter: brightness(0.5);
}