.token {
  padding-bottom: 3%;
}

.img-toko {
  height: auto;
  width: 30%;
}

.toko-h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 113%;
  /* identical to box height, or 85px */

  letter-spacing: 0.095em;
  text-transform: uppercase;

  color: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
.toko-p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 133.5%;
 
}
.span-toko {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.afun-toko {
  padding-bottom: 10%;
}
.ben-p {
  font-family: 'Fredoka', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 89.5%;
  padding-left: 19%;
  /* or 48px */
}
.toko-side-1 {
  height: fit-content;
  width: 45%;
}
.header-ben-h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 113%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
}
.header-ben-span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 113%;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px white;
}
.supply {
  padding-bottom: 2%;
}

.header-ben-h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 113%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 2%;
}
.divider {
  width: 23%;
  height: 4px;
}
.allo-img img {
  width: 70%;
}
.allo-img {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 2%;
}

.dollar-shade-2{
  width: 260px;
  height: 151px;
  background: rgba(203, 21, 200, 0.779);
  filter: blur(176px);
  position: absolute;
  right: 0;
  
  margin-top: -11px;

}


.dollar-shade-1{
  width: 260px;
  height: 151px;
  background: rgb(0 181 255);
  filter: blur(176px);
  position: absolute;
  left: 0;
  
  margin-top: -11px;

}




@media (max-width:768px){
  .toko-h2{
    font-size: 32px;
  }

  .toko-p{
    font-size: 18px;
    
  }
  .header-ben-h1{
    font-size: 32px;
  }
  .head-span{
    font-size: 32px;
  }
  .toko-side-1{
    display: none;
  }
  .header-ben-span{
    font-size: 32px;
  }
  .dollar-line {
    width: 100%;
    height: 45px;
    position: absolute;
    margin-top: -45px;
  }
  .header-ben-h2{
    font-size: 32px;
  }
  .ben-p{
    font-size: 18px;
    padding-left: 1%;
  }
  .team-line{
    height: 35px;
  }
}