
a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

.logo img{
    height: 68px;
    width: 118px;
}
a:hover {
  color: #3ba1db;
}
.logo{
  align-items: center;
}

/* 
 

/* navbar style start  */

.main-nav {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0c171700;
  display: grid;
  
  border-bottom: 2px solid #06898e00;
  grid-template-columns: 0.2rem 1fr 1fr 0.2rem;
  padding-top: 1.5%;
}

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.menu-link {
  grid-column: 3/4;
  padding-top: 0.5%;
}

.menu-link ul {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}








/* ----------- Grid part ends ----------------- */




.menu-link ul li {
  font-size: 1.3rem;
}

.menu-link ul li a {
transition: 0.5s;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 109%;
text-transform: uppercase;
color: #DADADA;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: #3ba1db;
  text-decoration: wavy;
  transition: 0.5s;
}



 .hamburger-menu {
  display: none;
}

/*top nav*/
.top-nav{
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  align-items: center;
  justify-content: center;
}
.top-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.anno{
  margin-top: 5px;
}
.anno p{
  font-family: 'Poppins';
font-style: italic;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #6C6C6C;
}
.top-social{
  display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}
.top-social a{
  font-size: 1rem;
  color: #6C6C6C;
}
.ticker-wrap {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #000000 0%, #ffffffdb 31.56%, #ffffffdb 73.75%, #000000 100%);
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;

  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 16px;
  color: #000;
  margin-top: 5px;
}



/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul
   {
    height: 7rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo
   {
    height: 6rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
      background-color: #0c1717;
      height: 23rem;
      display: flex;
      width: 100%;
      padding-top: 4.5%;
      /* width: -webkit-fill-available; */
      flex-direction: column;
      align-items: center;
      /* padding-left: 3rem; */
      transition: all 2s linear;
      margin-top: 74px;
      margin-right: -50px;
      transform-origin: bottom;
      box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }





  .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {

  /*top bar*/
  .anno p{
    font-size: 10px;
  }
  .ticker-wrap .ticker__item{
    font-size: 10px;
  }

  .top-social {
    
    gap: 0.4rem;}
  .main-nav {
    height: 5rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }



 

 

 .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 

  


 .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

 
}
