.foot-logos{
    height: 140px;
    width: 215px;
}
.foot-1{
    text-align: center;
    justify-content: center;
    align-items: center;

}

.foot-bottom{
    text-align: center;
    align-items: center;
}
.foot-bottom span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 111%;
/* identical to box height, or 17px */

text-align: center;

color: #6C6C6C;

}