.foots-logo{
    width: 200px;
    vertical-align: top;
    height: auto;

}
.foot-1{
    text-align: center;
    justify-content: center;
    align-items: center;

}

.foot-bottom{
    text-align: center;
    align-items: center;
}
.foot-bottom span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 111%;
/* identical to box height, or 17px */

text-align: center;

color: #6C6C6C;

}

.foot-div{
    height: 5px;
    width: 78%;
}
.div1{
    padding-bottom: 3%;
}
.connect{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 111%;
    color: #6C6C6C;
}
.foot-social{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.foot-link{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100.4%;
    text-transform: capitalize;
    color: #DADADA;
}